---
const url = Astro.url.pathname;

const selectedUrl = (option) => {
  switch (url === option) {
    case true:
      return 'font-semibold bg-gray-950 w-full text-center py-8';
      break;
  }
};
---

<section
  id='mobileMenu'
  class='z-30 fixed right-0 top-24 bottom-0 left-0 bg-gray-900 bg-opacity-90 w-screen hidden'
>
  <ul
    class='text-white h-full text-3xl flex items-center justify-center flex-col gap-10'
  >
    <li class={`${selectedUrl('/')}`}>
      <a href='/'>Home</a>
    </li>
    <li class={`${selectedUrl('/about')}`}>
      <a href='/about'>About us</a>
    </li>
    <li class={`${selectedUrl('/services')}`}>
      <a href='/services'>Services</a>
    </li>
    <li class={`${selectedUrl('/contact')}`}>
      <a href='/contact'>Contact</a>
    </li>
  </ul>
</section>
