---
import { Image } from 'astro:assets';
import Technology from '../assets/technology.jpg';
---

<section class='w-full py-20 px-5 lg:px-32 flex flex-col items-center'>
  <h3 class='font-semibold text-3xl lg:text-6xl w-3/4 text-center'>
    Harness the power of social networks
  </h3>

  <div
    class='flex flex-col lg:flex-row lg:min-h-96 justify-center lg:justify-between items-center mt-12'
  >
    <Image
      src={Technology}
      alt='Tech guy'
      class='lg:w-2/4 lg:min-h-96 rounded-md p-5 lg:p-0'
    />

    <article
      class='flex items-center justify-center flex-col gap-4 min-h-96 text-lg p-5 lg:p-10'
    >
      <p>
        In an increasingly digital world, social networks have become an
        indispensable tool for the success of any business. Are a window to the
        world, a platform to connect with clients potential, retain existing
        ones and grow your brand.
      </p>

      <p>
        With a well-defined strategy and creative execution, networks Social
        networks can be the boost your business needs to achieve new levels of
        success.
      </p>

      <p>Are you ready to harness the potential of social media?</p>
    </article>
  </div>
</section>
