---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <section id='quienes-banner' class='text-white relative h-48'>
    <div class='bg-gray-950 bg-opacity-50 w-full h-full absolute z-10 p-16'>
      <h3 class='text-5xl text-center lg:text-start lg:text-6xl font-semibold'>
        About us
      </h3>
    </div>
  </section>
  <section class='p-10 lg:p-16'>
    <p class='text-lg text-justify'>
      At Techio Media, we are dedicated to driving our clients' success in the
      digital world. We are a digital marketing agency specialized in the
      development of creative strategies and effective in promoting online
      business growth.
      <br />
      <br />
      Our approach focuses on two fundamental pillars: advertising campaigns in social
      media and website creation. Through our advertising campaigns on platforms
      like Facebook and Instagram, we help companies increase your visibility, attract
      your target audience and generate meaningful conversions.
      <br />
      <br />

      Regarding website creation, our team of designers and Developers work
      closely with each client to create attractive, functional and
      experience-optimized websites of the user.
      <br />
      <br />

      What sets us apart is our commitment to excellence and customer
      satisfaction. We strive to offer a service personalized and high quality
      in each project we undertake. Us proud to work with clients of various
      sectors and sizes, providing them with the tools and strategies necessary
      to achieve their online goals.
      <br />
      <br />

      In short, at Techio Media we are here to be your digital ally. Trust us to
      take your business to the next level in the world digital and achieve the
      success you deserve.
    </p>
  </section>
</MainLayout>

<style>
  #quienes-banner {
    background-image: url('../assets/team.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
