---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
import { Image } from 'astro:assets';
import ShowingLady from '../assets/showing-lady.png';
import ServicesBanner from '../components/ServicesBanner.astro';
import SocialMediaContainer from '../containers/SocialMediaContainer.astro';
---

<MainLayout>
  <Hero />

  <section class='px-10 py-24 lg:py-20 lg:px-28'>
    <h3 class='text-center font-semibold text-5xl mb-6 lg:mb-0 lg:text-6xl'>
      ¿Por qué nosotros?
    </h3>

    <div
      class='w-full flex flex-col lg:flex-row gap-16 lg:gap-36 items-center justify-between lg:pl-10'
    >
      <Image
        src={ShowingLady}
        class='w-[400px] pl-5 lg:pl-0 lg:w-[600px]'
        alt='Showing lady'
      />
      <article class='flex items-center justify-center lg:w-2/3 lg:mt-20'>
        <ul class='text-lg flex flex-col gap-8'>
          <li class='list-dis'>
            <b>Enfoque Personalizado:</b> Nos comprometemos a entender las necesidades
            específicas de cada cliente para desarrollar estrategias personalizadas
            que generen resultados tangibles.
          </li>
          <li class='list-dis'>
            <b>Innovación y Creatividad:</b> Manteniéndonos al día con las últimas
            tendencias, ofrecemos soluciones frescas y efectivas que ayudan a su
            negocio a destacarse en un mercado competitivo.
          </li>
          <li class='list-dis'>
            <b>Compromiso con la Excelencia:</b> Nos esforzamos por superar las expectativas,
            proporcionando atención al cliente excepcional y comunicación transparente
            en cada proyecto.
          </li>
        </ul>
      </article>
    </div>
  </section>

  <ServicesBanner />

  <SocialMediaContainer />
</MainLayout>
