---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
import { Image } from 'astro:assets';
import ShowingLady from '../assets/showing-lady.png';
import ServicesBanner from '../components/ServicesBanner.astro';
import SocialMediaContainer from '../containers/SocialMediaContainer.astro';
---

<MainLayout>
  <Hero />

  <section class='px-10 py-24 lg:py-20 lg:px-28'>
    <h3 class='text-center font-semibold text-5xl mb-6 lg:mb-0 lg:text-6xl'>
      Why should you work with us?
    </h3>

    <div
      class='w-full flex flex-col lg:flex-row gap-16 lg:gap-36 items-center justify-between lg:pl-10'
    >
      <Image
        src={ShowingLady}
        class='w-[400px] pl-5 lg:pl-0 lg:w-[600px]'
        alt='Showing lady'
      />
      <article class='flex items-center justify-center lg:w-2/3 lg:mt-20'>
        <ul class='text-lg flex flex-col gap-8'>
          <li class='list-dis'>
            <b>Personalized Approach:</b> We are committed to understanding the specific
            needs of each client to develop customized strategies that generate tangible
            results.
          </li>
          <li class='list-dis'>
            <b>Innovation and Creativity:</b> Staying up-to-date with the latest
            trends, we offer fresh and effective solutions that help your business
            stand out in a competitive market.
          </li>
          <li class='list-dis'>
            <b>Commitment to Excellence:</b> We strive to exceed expectations by
            providing exceptional customer service and transparent communication
            in every project.
          </li>
        </ul>
      </article>
    </div>
  </section>

  <ServicesBanner />

  <SocialMediaContainer />
</MainLayout>
