---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <section id='quienes-banner' class='text-white relative h-48'>
    <div class='bg-gray-950 bg-opacity-50 w-full h-full absolute z-10 p-16'>
      <h3 class='text-5xl text-center lg:text-start lg:text-6xl font-semibold'>
        ¿Quiénes somos?
      </h3>
    </div>
  </section>
  <section class='p-10 lg:p-16'>
    <p class='text-lg text-justify'>
      En Techio Media, nos dedicamos a impulsar el éxito de nuestros clientes en
      el mundo digital. Somos una agencia de marketing digital con sede en
      Guatemala, especializada en el desarrollo de estrategias creativas y
      efectivas para promover el crecimiento de negocios en línea.
      <br />
      <br />
      Nuestro enfoque se centra en dos pilares fundamentales: campañas publicitarias
      en redes sociales y creación de sitios web. A través de nuestras campañas publicitarias
      en plataformas como Facebook e Instagram, ayudamos a las empresas a aumentar
      su visibilidad, atraer a su audiencia objetivo y generar conversiones significativas.
      <br />
      <br />

      En cuanto a la creación de sitios web, nuestro equipo de diseñadores y
      desarrolladores trabaja en estrecha colaboración con cada cliente para
      crear sitios web atractivos, funcionales y optimizados para la experiencia
      del usuario.
      <br />
      <br />

      Lo que nos distingue es nuestro compromiso con la excelencia y la
      satisfacción del cliente. Nos esforzamos por ofrecer un servicio
      personalizado y de alta calidad en cada proyecto que emprendemos. Nos
      enorgullece trabajar con clientes de diversos sectores y tamaños,
      brindándoles las herramientas y estrategias necesarias para alcanzar sus
      metas en línea.
      <br />
      <br />

      En resumen, en Techio Media estamos aquí para ser tu aliado digital.
      Confía en nosotros para llevar tu negocio al siguiente nivel en el mundo
      digital y alcanzar el éxito que te mereces.
    </p>
  </section>
</MainLayout>

<style>
  #quienes-banner {
    background-image: url('../assets/team.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
